.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }

  // .topPageContainer {

  //   display: grid;
  //   grid-template-columns: 1fr 3fr  2fr 1fr
  // }

  .topPageContent {
    grid-column:2/3;

  }

  .topPage{
    background: url("../public/cats/black-cat-staring-at-you.jpg") no-repeat, black;
    background-size: contain;
    background-position: bottom right;
  }


  
  .midPage{
    background: url("../public/cats/white-cat-sleeping.jpg") no-repeat rgb(244,248,247);
    background-size:cover;
    background-position: bottom right;
  
  }

  .bottomPage{
    background: url("../public/cats/black-cat-smiling.jpg") no-repeat black;
    background-size: contain;
    background-position: bottom left;
  
  }


}

.home-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
  display: none;
}




.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
  display: none;
}

@media screen and (min-width: 768px){
    .topPageContainer {

    display: grid;
    grid-template-columns: 1fr 3fr  2fr 1fr
  }
}