$color-primary:#E8BA8D;
$color-secondary: #514438;
$color-tertiary: #B8A89A;
$color-dark-hue: #3F3F3F;
$color-light-hue: #E8E8E8;

$color-light-hue-trans: rgba(232,232,232,0.7);
$color-dark-hue-trans: rgba(20,20,20,.7);