.header {
    background: $color-dark-hue;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 64px;
    transition: top 250ms;
}

.logo{
    margin: 0;
}

.header nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #3F3F3F;
    width: 100%;
    display: flex;
    transform: rotate(40deg);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in;
}

.header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header nav li {
    margin-bottom: 1em;
    margin-left: 1em;

}

.header nav a {
    color: $color-tertiary;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-out;
    font-family: exo, sans-serif;
}

.header nav a:hover {
    color: $color-light-hue;
}

.nav-toggle:checked ~ nav{
    display:block;
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-out 450ms;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    width: 2em;
    display: block;
    background: white;
    height: 2px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span:before,
.nav-toggle-label span::after{
    content: "";
    position: absolute;
}

.nav-toggle-label span:before {
    bottom: 7px;
}

.nav-toggle-label span:after {
    top: 7px;
}

@media screen and (min-width: 768px){
    .nav-toggle-label{
        display:none;
    }

    .header {
        display:grid;
        grid-template-columns: 1fr auto 9fr 1fr;
    }

    .logo{
        grid-column: 2;
    } 
    .header nav {
        all:unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header nav a {
        opacity: 1;
        position: relative;
        display: block;
    }


    .header nav a::before {
        content: '';
        display: block;
        height: 5px;
        background:$color-light-hue;
        top: -0.5em;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    .header a:hover::before {
        transform: scale(1,1);
    }




    .header nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .header nav ul {
        display: flex;
        justify-content: flex-end;
    }
}